<% if logged_in? %>
  <li>
    <%= link_to("New Campaign", new_campaign_path, html_options = {class: "btn btn-lg btn-primary"}) %>
  </li> 
  <li class="dropdown">
  <a class="dropdown-toggle" id="session-menu" data-toggle="dropdown" href="javascript:;">

    <div class="hidden-xs">
      Welcome, <%= current_user.email %>
      <span class="caret"></span>
    </div>
    <div class="visible-xs">
      <i class="fa fa-user"></i>
    </div>

  </a>
  <ul class="dropdown-menu" role="menu" aria-labelledby="session-menu">
    <li role="presentation"><%= link_to 'Edit Profile', edit_user_path(current_user), :class => 'navbar-link' %></li>
    <li role="presentation"><%= link_to "Logout", logout_path, method: :delete, :class => 'navbar-link' %></li>
  </ul>
</li>

<% else %>
  <li><%= link_to "Sign up", signup_path, :class => 'navbar-link'  %></li>
  <li><%= link_to "Login", login_path, :class => 'navbar-link'  %></li>
<% end %>

